@import 'fonts';

$main-font: 'Fira', 'Helvetica', 'Arial', sans-serif;
$foot-font: 'Source Code Pro', 'Courier New', 'Courier', monospace;

$em: 24px;
$width: 900px;

$green: #6e97a2;
$blue: #6e97a2;
$red: #e37259;
$brown: #66595c;
$beige: #e6e1ce;
