@import 'defs';
@import 'fonts';
@import 'index';
@import 'page';
@import 'forms';
@import 'info';
@import 'portfolio';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: $em;
  text-align: center;
  color: $brown;
  background-color: white;
}

header {
  padding: 2 * $em 0;
  @media all and (max-width: $width) {
    padding: 1em 0 1em;
  }
}

.logo {
  width: 180px;
  height: 36px;
}

.ico {
  margin-right: .5em;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-top: $em;
  margin-bottom: $em;
}
