@import 'fonts';
@import 'defs';

.idx {
  background-color: $beige;
  .slogan {
    font-family: $foot-font;
    font-size: 2.5 * $em;
    font-weight: 300;
    padding: 1.4 * $em 0;
    letter-spacing: -5px;
    @media all and (max-width: $width) {
      font-size: 1.8 * $em;
    }
  }
  .contacts {
    font-family: $main-font;
    font-weight: 200;
    line-height: 1.5 * $em;
    padding: 4 * $em 0;
  }
  .buttons {
    line-height: 5 * $em;
    span {
      @media all and (max-width: $width) {
        display: none;
      }
    }
    a {
      padding: .5 * $em $em;
      font-size: 1.5 * $em;
      margin: 0 $em;
      font-family: $main-font;
      text-decoration: none;
      white-space: nowrap;
      border-radius: 5px;
      letter-spacing: 3px;
      border: 0;
      color: white;
      position: relative;
      &.developers {
        background-color: #c14b30;
        &:hover {
          background-color: #ac351b;
        }
      }
      &.job {
        background-color: #547882;
        &:hover {
          background-color: #446a74;
        }
      }
    }
  }
}
